.App {
  text-align: center;
}

ul{
  padding: 0;
  margin-top: 5%;
  margin-bottom: 5%;
}
li{
 list-style: none; 
 position: relative;
 margin-bottom: 2%;
}


.job_info{
  margin: auto;
  /* text-align: center; */
 width: 400px;
 padding: 10px;
 border-radius: 5px;
 background: lightgrey
}

.job_info p{
  margin: 0;
}

#job_title{
  font-size: 20px;
  font-weight: 700;
  color: #1D90D5;
  margin-bottom: 1%;
}

#job_type{
  font-size: 16px;
  font-weight: 700;
  color: #1D9A00; 
  margin-bottom: 0.8%;
}

#job_company{
  font-size: 18px;
  font-weight: 500;
  color: #909090;
}

#job_location{
  color: black;
  font-size: 16px;
}

.job_info:hover{
  background: lightgoldenrodyellow;
  cursor: pointer;
}

.dashboard-form{
  padding-top:40px;
} 

input[type="text"]{
  width: 30%;
  height: 30px;
  outline: none;
  border: 1px solid #ddd;
  padding: 0 10px;
  border-radius: 2px;
  color: #333;
  font-size:1.1rem;
  -webkit-transition:all 0.1s linear;
  -moz-transition:all 0.1s linear;
  transition:all 0.1s linear;
  margin-right: 10px;
}

input[type="submit"]{
  width: 20%;
  height: 30px;
  outline: none;
  border: 1px solid #ddd;
  padding: 0 10px;
  border-radius: 2px;
  color: #333;
  font-size:1.1rem;
  -webkit-transition:all 0.1s linear;
  -moz-transition:all 0.1s linear;
  transition:all 0.1s linear;
}

input[type="submit"]:hover{
  background: lightgoldenrodyellow;
  cursor: pointer;
}

.chart{
  width: 45%;
  float: left;
  margin-top: 2%;

}

.job{
  float: left;
  margin-left: 8%;
}
